*
{
  margin: 0;
  padding: 0;
  box-sizing: 0;

}

body{
  
  
}
.nav-wrapper{
  background-color: black;
}
.form-container{
  margin-top: 100px;
  margin-left: 370px;
  justify-content: center;
  text-align: center;
  max-width: 500px;
}
form h3{
  text-transform: uppercase;
  font-size:30px;
}